{% extends "./base.html" %}
{% load static %}
{% block title %}Shop {% endblock %}
{% block content %}
<main class="non-home-page shop-page container">
<body>
    <h1 class="title">Shop</h1>
    <div class="row">
        {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <a href="{{book.id}}">
          <img class="card-img-top" src="{{book.images}}" alt="Book cover">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
          </a>

            <p class="card-text">{{ book.description|truncatewords:20 }}</p>
          

          </div>
        </div>
      </div>
      {% endfor %}
    </div>



{% endblock %}


