{% extends "./base.html" %}
{% load static %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}


<main class="pt-2 single_book container" style="max-width: 1000px">

    <div class="row" >
    
        <div class="col-md-6 col-12"><img src="{{book.images}}"></div>

        <div class="col-md-6 col-12 right-side">
            <div class="col-12 title"><h3>{{book.title}}</h3></div>
            <div class="col-12 desc"><p>{{ book.description }}</p></div><br><hr><br>

            <div class="col-12 ordering">
            <div class="h5">Cena: <span class="">{{ book.price }}rsd</span></div>

            <div class="">
                <label for="select">Qty:</label>
                <select class="select" id="select" class="h6">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="button" id="add-button" value="{{book.id}}" class="btn btn-success fw500">Add to basket</button>
            </div>

        </div>
    </div>
        

        

        
  </div>
</main>

<script>
    $(document).on('click', '#add-button', function(e) {
        console.log("Clicked");
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                console.log("SUCCESS");
                document.getElementById("basket-qty").innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {}
        });
    });
</script>

{% endblock %}