{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
  <title>{% block title %}ImFckingStarboy{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar -->
<nav class="navbar  navbar-light fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" onclick="toggleFullscreenMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand navbar-brand-center" href="/">ImFckingStarboy</a>


    <div class="fullscreen-menu" id="fullscreenMenu">
      <span class="close-btn" onclick="toggleFullscreenMenu()">&times;</span>
      <ul>
        
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quotes:all_quotes' %}">Quotes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:all_items' %}">Shop</a>
          </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto" id="right_part">
      <a type="button" role="button" href="{% url "basket:basket_summary" %}"
                        class="btn btn-outline-secondary border-0 basket-btn">

                        {% with total_qty=basket|length %}
                        <div id="basket-qty" class="basket-qty">
                            {% if total_qty > 0 %}
                            {{ total_qty }}
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endwith %}
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-cart3" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </div>
                        <span class="fs15 fw500">Basket</span>
                    </a>
    
    </div>

  </div>
</nav>

  <div id="content">{% block content %} {% endblock %}</div>

  {% include "footer.html" %}

</body>





<script>
  function toggleFullscreenMenu() {
    var menu = document.getElementById('fullscreenMenu');
    var cart = document.getElementById('right_part')
    if (menu.style.display === 'flex') {
      menu.style.display = 'none';
      cart.style.display = 'block';
    } else {
      menu.style.display = 'flex';
      cart.style.display = 'none'
    }
  }

  window.addEventListener('scroll', function() {
    var navbar = document.querySelector('.navbar');
    if (window.scrollY > 250) {
      navbar.classList.add('scrolled');
    } else {
      navbar.classList.remove('scrolled');
    }
  });


</script>
</html>