{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}
<main class="home-page">
  <div class="container slider-container">
      <!-- Slider -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://via.placeholder.com/1920x600.png?text=Slide+2" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/1920x600.png?text=Slide+2" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/1920x600.png?text=Slide+2" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Knjige</h1>
            
          </div>
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
            {% for product in books %}
            <div class="col .">
              <div class="card border-0">
                <a class="text-dark text-decoration-none" href="/shop/{{ product.id }}">
                <img class="img-fluid" alt="Responsive image" src="/static/{{product.images}}">
                <div class="card-body px-0">
                  <h5 class="card-title book-title">
                    {{ product.title }}</a>
                  </h5>
                  
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% for quote in quotes %}
        {{ quote }} <br>
      {% endfor %}

      <!--   about   -->
      {% include "about_home.html" %}
    </div>
</main>
{% endblock %}